body {
    margin: 0;
    gap: 50px;
    height: 100vh;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    background-color: ;
    grid-template-areas:
        
    ;
    color: white;
}